@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'CHARLEY';
    src: url('./fonts/CHARLEY.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}